torch
transformers
accelerate
sentencepiece
protobuf
datasets
pandas
matplotlib
scikit-learn
chromadb
langchain-huggingface
langchain-text-splitters
langchain-chroma
sentence-transformers
evaluate
huggingface-hub
safetensors
bitsandbytes
